<div class="form-container">
  <div class="card p-3 mt-3 w-50">
    <%= simple_form_for [@list, @bookmark], method: :post, html: { class: "form" } do |f| %>
      <%= f.input :comment, placeholder: "Ecrivez votre avis..", class: "form-control" %>
      <%= f.association :movie, placeholder: "Ecrivez votre avis..", class: "form-control" %>
      <%= f.input :list_id, as: :hidden, input_html: { value: @list.id } %>
      <div class="form-group d-flex justify-content-between">
        <%= link_to 'Annuler', list_path(@list), class: 'btn btn-danger' %>
        <%= f.submit "Ajoutez", class: 'btn btn-primary mr-2' %>
      </div>
    <% end %>
  </div>
</div>
